{% extends 'flatpages/default.html' %}
{% block title %} News {% endblock title %}
{% block content %}
<h2>Вы действительно хотите удалить Post?</h2>
<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            title
        </th>
        <th>
            Category
        </th>
        <th>
            Date
        </th>
        <th>
            Text
        </th>
        <th>
            author
        </th>
        <th>
            rating
        </th>
    </thead>
    <tr>
        <td>
            {{ post.name|title }}
        </td>
        <td>
            {{ post.category.name|title }}
        </td>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.date }}
        </td>
        <td>
            {{ post.text }}
        </td>
        <td>
            {{ post.author }}
        </td>
        <td>
            {{ post.rating }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}